<h1>welcome to Bookers !!</h1>
<p>
  In Bookers,<br />
  you can share andexchange your opinions,inpressipns,and emotions<br />
  about various books!
</p>

<%= link_to "Log in", user_session_path %>
<%= link_to "Sign Up", new_user_registration_path %>